{% extends "base.html" %}
{% block title %}Coffee shops{% endblock %}
{% block content %}
<table class="table table-striped w-50" >
  <thead>
    <tr>
      <th>Id</th>
      <th>name</th>
      <th>electionDay</th>
      <th>ocdDivisionId</th>
    </tr>
  </thead>
  <tbody>
      {% for electionrecord in electioninfo %}
          <tr>
                <td>{{electionrecord['id']}}</td>
                <td>{{electionrecord['name']}}</td>
                <td>{{electionrecord['electionDay']}}</td>
                <td>{{electionrecord['ocdDivisionId']}}</td>
          </tr>
      {% endfor %}
  </tbody>
</table>
{% endblock %}
